
h1{
    color: rgba(207, 207, 13, 0.788);
    text-align: center;
    font-size: 4rem;
}

.home{
    margin-bottom: 3%;
}

.section{
    border: 2px solid black;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
}


ul{
    padding: 10px 15px;
    border: 1px solid #eee;
}

ul li{
    margin: 10px 5px;
    background: 2px solid blue;
    font-size: 2rem;
}

ul li button{
    float: right;
}

li:hover{
    color: red;
}